extends layout

block content
  ul.navigation.hidden-md.hidden-lg
    li.nav-item
      a(href='#targets') Цели конкурса
    li.nav-item
      a(href='#conditions') Условия участия
    li.nav-item
      a(href='#dates') Сроки
    li.nav-item
      a(href='#partners') Спонсоры
    li.nav-item
      a(href='#order') Заявка
    li.nav-item
      a(href='#orgs') Организаторы
  
  input.nav-trigger#nav-trigger(type="checkbox")
  label(for="nav-trigger") &#9776;
  
  .site-wrap    
    .section.first-screen#fs-bg
      .container
        .visible-md.visible-lg
          ul.menu
            li#logo
              img(src="images/Logo_white.png")
            li
              a(href='#targets') Цели конкурса
            li
              a(href='#conditions') Условия участия
            li
              a(href='#dates') Сроки
            li
              a(href='#partners') Спонсоры
            li
              a(href='#order') Заявка
            li
              a(href='#orgs') Организаторы
            .clearfix        
        .main
          .caption
            .caption1
              | Моя
              br 
              | профессия
            br 
            .caption2 IT
            h2 
              | Ежегодный Республиканский конкурс среди учеников
              br
              | с 8 по 11 классы средних общеобразовательных школ, образовательных организаций дополнительного образования детей, студентов и 
              br
              | выпускников ВУЗ-ов и иных физических лиц в возрасте до 30 лет, 
              br
              | находящихся на территории Республики Саха (Якутия)
        .order-button-block.col-md-4.col-md-offset-4
          a(href="#order") Подать заявку
    .section.bg-blue#targets
      .container
        .col-md-8
          h1 Цель конкурса:
          p Поддержка и профессиональная ориентация молодежи Республики Саха (Якутия) в сферу информационных технологий.
          br
          h1 Задачи конкурса:
          ul
            li Активное вовлечение молодежной аудитории в область информационных технологий;
            li Популяризация информационных технологий в Республике Саха (Якутия);
            li Развитие инновационного движения в сфере информационных технологий;
            li Привлечение интереса молодежи к перспективным и востребованным специальностям;
            li Поддержка и стимулирование творчества молодежи в области информационных технологий;
            li Создание высокой репутации предприятий Республики Саха (Якутия), производящих ИТ-продукцию и предоставляющих ИТ-услуги;
            li Налаживание деловых контактов между предприятиями, производящих ИТ-продукцию и предоставляющих ИТ-услуги;
            li Поддержка инициатив предпринимателей
        .col-md-4
          img(src="images/psd.png")
          a(href="Положение_конкурса_Моя_профессия_IT.pdf" target="_blank")
            | Положение конкурса
          p pdf 1,2 Мб
    .section.conditions#conditions
      .container
        h1.text-center Условия участия
        p.text-center Участники Конкурса подразделяются на три категории:
        .icons.row
          .icon.col-md-4
            img(src="images/Icon1.png", alt="Юниор")
            h4 Категория «Юниор»
            p.text-center Ученики с 8 по 10 классы средних общеобразовательных школ, образовательных организаций дополнительного образования детей, находящихся на территории Республики Саха (Якутия)
          .icon.col-md-4
            img(src="images/Icon2.png", alt="Категория А")
            h4 Категория «А»
            p.text-center Ученики 11 классов средних общеобразовательных школ республики
          .icon.col-md-4
            img(src="images/Icon3.png", alt="Категория Б")
            h4 Категория «Б»
            p.text-center Студенты вузов, находящихся на территории Республики Саха (Якутия), выпускники вузов и иные физические лица в возрасте до 30 лет
    .section.bg-blue#dates
      .container
        h1.text-center Сроки проведения конкурса
        .dates.row
          .date.col-md-4
            h4 Конкурс для категории «Юниор»
            p
              s Подача заявок (17 марта-27 марта)
            p I этап. Заочный отбор
              br 
              | (28 марта-07 апреля)**
            p Экспертиза заочного тестирования
              br
              | (08-10 апреля)
            p II этап. Творческий конкурс
              br
              | (17 марта-15 апреля)
            p Экспертиза творческого конкурса
              br
              | (16-20 апреля)
            p Финальное мероприятие 23 апреля
          .date.col-md-4
            h4 Конкурс для категории «А»
            p
              s Подача заявок (17-27 марта)
            p I этап. Заочный отбор
              br
              | (28 марта-07 апреля)**
            p Экспертиза заочного тестирования
              br
              | (8 апреля) (8 апреля - уведомление о прохождении на II этап)
            p II этап. Очный отбор
              br
              | (9 апреля) (с 14:00 до 19:00, КФЕН ауд. 424-436)
            p Экспертиза очного тестирования
              br
              | (09-10 апреля)
            p Финальное мероприятие 23 апреля
          .date.col-md-4
            h4 Конкурс для категории «Б»
            p Подача заявок (17 марта-08 апреля)
            p I этап. Заочный отбор
              br
              | (09-10 апреля)
            p Экспертиза заочного тестирования
              br
              | (11-12 апреля) (12 апреля - уведомление о прохождении на II этап)
            p II этап. Очный отбор (для программистов)
              br
              | (10 апреля) (с 10 до 15, КФЕН ауд. 424-436)
            p Экспертиза очного тестирования
              br
              | (11-12 апреля)
            p III этап – Хакатон
              br
              | (16-17 апреля)
            p Финальное мероприятие 23 апреля
        hr
        h5.text-center *Информация об условиях, месте и времени прохождения тестирования направляется на почтовый ящик, указанный при оформлении заявки
        h5.text-center **По многочисленным просьбам было решено продлить заочный отбор на два дня.
    .section#partners
      .container
        h1.text-center Генеральные спонсоры
        br
        .row
          .col-md-3
            a(href="http://www.mytona.ru/" target="_blank")
              img(src="images/Logo_Partners/MyTona.png")
          .col-md-3
            a(href="http://www.sinetgroup.ru/" target="_blank")
              img(src="images/Logo_Partners/Sinet.png")
          .col-md-3
            a(href="http://www.yakutiaventure.ru/" target="_blank")
              img(src="images/Logo_Partners/Venture.png")              
        br
        h3.text-center Официальные спонсоры
        br
        .row
          .col-md-3
            a(href="http://www.tctr.ru/" target="_blank")
              img(src="images/Logo_Partners/rsz_logo4.png")
        br
        h4.text-center Информационные партнеры
        .row
          .col-md-3.col-md-offset-3
            a(href="http://www.ykt.ru/" target="_blank")
              img(src="images/Logo_Partners/YKT.png")
          .col-md-3
            a(href="https://vk.com/rp_studio" target="_blank")
              img(src="images/Logo_Partners/Studia.png")
          .col-md-3
            a(href="http://www.ysia.ru/" target="_blank")
              img(src="images/Logo_Partners/Ysia.jpg")              
        br
        .yellow-place
          h4.text-center Преимущества спонсорства
          ul.col-md-8.col-md-offset-4
            li Информационная поддержка
            li Вклад в интеллектуальный запас Республики Саха (Якутия)
            li Возможность рассылки информации о ваших продуктах и услугах
          form.form-horizontal(action='/request', method='POST')
            .form-group
              label.col-md-4.control-label Ф.И.О
              .col-md-8
                input.form-control(type='text' name='name' required)
            .form-group
              label.col-md-4.control-label Контактный номер
              .col-md-8
                input.form-control(type='tel' name='phone' required)
            .form-group
              label.col-md-4.control-label Email
              .col-md-8
                input.form-control(type='email' name='email' required)
            .form-group
              .order-button-block.col-md-4.col-md-offset-4
                button(type='submit') Подать заявку на спонсорство            
    .section.bg-blue#order
      .container
        h1.text-center Заявка
        form.order.form-horizontal(action='/request', method='POST')
          .form-group
            label.col-md-4.control-label Ф.И.О
            .col-md-8
              input.form-control(type='text' name='name' required)
          .form-group
            label.col-md-4.control-label Дата рождения
            .col-md-8
              input.form-control(type='text' name='birthdate' required)
          .form-group
            label.col-md-4.control-label Учебное заведение
            .col-md-8
              input.form-control(type='text' name='school' required)
          .form-group
            label.col-md-4.control-label Категория
            .col-md-8
              .radio
                label
                  input(type='radio' name='category' id='cat_junior' value='Юниор')
                  | Юниор
              .radio
                label
                  input(type='radio' name='category' id='cat_catA' value='Категория А')
                  | Категория А
              .radio
                label
                  input(type='radio' name='category' id='cat_catB' value='Категория Б')
                  | Категория Б
          .form-group
            label.col-md-4.control-label Направление
            .col-md-8
              .radio
                label
                  input(type='radio' name='direction' id='dir_pro' value='Программирование')
                  | Программирование
              .radio
                label
                  input(type='radio' name='direction' id='dir_mar' value='Менеджмент')
                  | Менеджмент
              .radio
                label
                  input(type='radio' name='direction' id='dir_web' value='Графический дизайн')
                  | Графический дизайн
          .form-group
            label.col-md-4.control-label Контактный номер
            .col-md-8
              input.form-control(type='tel' name='phone' required)
          .form-group
            label.col-md-4.control-label Email
            .col-md-8
              input.form-control(type='email' name='email' required)
          .form-group
            label.col-md-4.control-label
              | Дополнительная 
              br
              | информация о себе
            .col-md-8
              textarea.form-control(rows='8' name='addition')
          .form-group
            .order-button-block.col-md-2.col-md-offset-4
              button(type='submit') Отправить
    .section#orgs
      .container
        h1.text-center Организаторы
        .carousel          
          div
            a(href="http://minsvyaz.sakha.gov.ru/" target="_blank")
              img(src="images/Logo_Organizers/1.png")
          div
            a(href="http://minprofobr.sakha.gov.ru/" target="_blank")
              img(src="images/Logo_Organizers/2.png")              
          div
            a(href="http://minobr.sakha.gov.ru/" target="_blank")
              img(src="images/Logo_Organizers/3.png")              
          div
            a(href="https://www.facebook.com/%D0%90%D1%81%D1%81%D0%BE%D1%86%D0%B8%D0%B0%D1%86%D0%B8%D1%8F-%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D1%8F-%D0%98%D0%A2-%D0%BE%D1%82%D1%80%D0%B0%D1%81%D0%BB%D0%B8-%D0%A0%D0%A1%D0%AF-1497558937179491/" target="_blank")
              img(src="images/Logo_Organizers/IT.png")
          div
            a(href="http://www.tpykt.ru/" target="_blank")
              img(src="images/Logo_Organizers/TP.png")              
          div
            a(href="http://yakutiaventure.ru/" target="_blank")
              img(src="images/Logo_Organizers/Venture.png")
          div
            a(href="http://www.s-vfu.ru/universitet/rukovodstvo-i-struktura/instituty/imi/" target="_blank")
              img(src="images/Logo_Organizers/IMI.png")              
          div
            a(href="https://vk.com/molprav14" target="_blank")
              img(src="images/Logo_Organizers/Molodejnoe.png")
          div
            a(href="http://www.sakhaedu.ru/" target="_blank")
              img(src="images/Logo_Organizers/Centr.png")              
          div
            a(href="http://lensky-kray.ru/" target="_blank")
              img(src="images/Logo_Organizers/Malaya.png")              
    footer.footer
      .container
        | © 2016
        br
        | Ежегодный Республиканский конкурс
        br
        | Моя профессия – IT
        br
        | info@mp-it.ru
        br
        | +7(4112)744-486
        br
        br
        a(href='https://vk.com/mp_it')
          img(src='images/vk_logo.jpg')
        a(href='https://telegram.me/joinchat/BWZF9wijNbfNpWfujfLlXw')
          img(src='images/telegram_logo.jpg')
        br
        br
        br
        | Сайт разработан в 
        a(href="http://fivetronics.com" id="creator") Файвтроникс
        br
