doctype html
html
  head
    title Моя профессия IT
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css")
    //- script(src="https://code.jquery.com/jquery-2.2.2.min.js")
    script(src='/javascripts/build.js')
  body
    block content
