extends layout

block content
  .container
    h1 Ошибка
    p
      | Конкурс успешно закрыт. Статья на News.Ykt: 
      a(href='http://news.ykt.ru/article/42234' target='_blank') http://news.ykt.ru/article/42234

    .order-button-block.col-md-4.col-md-offset-4
      a(href="/") Вернуться
