@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 22px;
  overflow-x: hidden;
}

.text-center{
  text-align: center;
}

h1{
  font-size: 24px;
  line-height: 22px;
  font-weight: 800;
  margin: 10px 0; 
}

h2{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.icons{
  margin-bottom: 20px;

  .icon{
    text-align: center;
  }
}

.order{
  margin-top: 40px;
}

.main{
  margin: 160px 0 220px;
}

.footer{
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 20px 0;
  background-color: #32004b;
  
  img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  a{
    color: #fff;
    text-decoration: none;

    &:hover, &:active, &:focus{
      color: #ffe300;
    }

  }
}

.yellow-place{
  background-color: #fffdc7;
  padding: 20px;
}

.dates{
  margin-bottom: 20px;
  
  p{
    text-decoration: line-through;
  }
}

.caption1, .caption2{
  font-size: 160px;
  line-height: 180px;
  font-weight: 800;
}
 
.caption2{
  float: left;
  margin-right: 40px
}

.caption{
  
  h2{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 34px;
  }
}

.section{
  padding: 80px 0;
  box-sizing: border-box;
  background-color: #FFF;

  ul{

    padding-left: 23px;

    li{
      margin: 10px 0
    }
  }
  
  .order-button-block{
    
    margin-top: 40px;
    
    button, a{
      width: 100%;
      height: 40px;
      text-align: center;
      font-weight: 700;
      display: block;
      background-color: #fc0;
      text-decoration: none;
      color: #000;
      line-height: 40px;
      margin: 0 auto;
      border: none;
      border-radius: 4px;
      padding: 0;
      
      &:hover{
        background-color: #ff0;
      }
      
      &:active, &:focus{
        background-color: #f90;
      }
      
      &:disabled{
        background-color: #fc0;
        opacity: 0.4;
      }
    }  
  }
  
  .menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex !important;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    height: auto;
    bottom: auto;
    background: none;
    width: 970px;

    li#logo{
      
      position: relative;
      width: 80px;

      &:hover, &:active, &:focus{
        background-color: transparent
      }

      img{
        position: absolute;
        bottom: -20px;
        width: 100%;
      }
    }

    li{
      float: left;
      padding: 5px 15px;

      &:hover{
        background-color: #7c1656
      }

      &:active, &:focus{
        background-color: #690042 
      }
      
      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }  

  &.first-screen{
    min-height: 100vh;
    min-height: 1080px;
    color: #fff;
  }

  &.bg-blue{
    background-color: #ebf3ff
  }
}

#targets{
  img{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  a{
    text-decoration: none;

    &+p{
      margin: 0;
    }
  }
}

.big-bg{
  background: url('/images/Photo.jpg') center center no-repeat;
  background-size: cover;  
}

.mobile-bg{
  background: url('/images/Photo2.jpg') center center no-repeat;
  background-size: cover;  
}

#partners{
  img{
    margin: 0 auto 40px;
    display: block;
    max-width: 100%;
  }
}

label.disabled { opacity: 0.4; }

@media (max-width: 991px){
  .section{
    &.first-screen{
      min-height: 500px;
    }
  }
  .container {
    width: auto;
  };
  
  .main{
    margin: 40px 0;
  }
  
  .caption1, .caption2{
    font-size: 48px;
    line-height: 72px;
    float: none;
  }
  
  .caption2{
    line-height: 48px;
  }
}
  
@media (min-width: 992px) {
  .container {
    width: 970px;
  };
  label[for="nav-trigger"]{
    display: none;
  };
}