/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  height: 100%;
  position: fixed;
  top: 0;
  right: 20px;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding: 0;
  margin: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: #3e5e9e;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: absolute;
  left: 15px; 
  top: 30px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;

  font-size: 40px;
  color: #fff;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  // box-shadow: 0 0 5px 5px rgba(255,255,255, 1);
}