.container .carousel{
  margin: 40px 0;

  img{
    margin: 0 auto;
  }

  .slick-next, .slick-prev{
    background: url('/images/Arrow.png') center center no-repeat;
    background-size: contain;
    top: calc(50% - 17px);

    width: 12px;
    height: 35px;

    &:before{
      content: '';
    }
  }

  .slick-prev{
    transform: rotate(180deg);
  }

  @media (max-width: 991px){
    .slick-next, .slick-prev{
      display: none !important;
    }
  }
}